@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://virtualni-hriste.cz/" target="_blank" style="color: grey">VIRTUAL</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
