@page "/"

<PageTitle>Finanční mentor</PageTitle>

<h1>FINANČNÍ MENTOR&nbsp;💸</h1>
<p> Cvičný projekt Blazor - WebAssembly</p>

Zdroj: <a href="https://www.youtube.com/watch?v=89Klc6WHElw&list=PLwISgxnkpZGL_LhTQCWwp-WCzupv7lcp0&index=3" target="_blank">Claudio Bernasconi</a> 