@inject HttpClient Http;

<div class="card">
    <div class="card-header">
        <h5><strong>Přidat výdaj</strong></h5>
    </div>
    <div class="card-body">
        <EditForm Model="@vydaj" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-group">
                <label for="datumInput">Datum</label>
                <InputDate class="form-control" id="datumInput" @bind-Value="vydaj.Datum" />
            </div>           
            <div class="form-group">
                <label for="kategorieInput">Kategorie</label>
                <InputSelect class="form-control" id="kategorieInput" @bind-Value="vydaj.Kategorie">
                    @{
                        foreach (var value in Enum.GetValues(typeof(VydajKategorie)))
                        {
                            <option value="@value">@value</option>
                        }
                    }
                </InputSelect>
            </div>
             <div class="form-group">
                <label for="subjektInput">Subjekt</label>
                <InputText class="form-control" id="subjektInput" @bind-Value="vydaj.Subjekt" />
            </div>
            <div class="form-group">
                <label for="castkaInput">Částka</label>
                <InputNumber class="form-control" id="castkaInput" @bind-Value="vydaj.Castka" />
            </div>
           
            <div class="pt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>          
        </EditForm>   
    </div>
</div>
@code {

    private VydajModel vydaj = new VydajModel { Datum = DateTime.Today };

    [Parameter]
    public EventCallback OnSubmitCallback { get; set; }

    public async Task HandleValidSubmit()
    {
        await Http.PostAsJsonAsync<VydajModel>("api/Vydaje", vydaj);
        await OnSubmitCallback.InvokeAsync();
    }
}
